# {{ ansible_managed }}

cluster.name: {{ elasticsearch_cluster_name }}

node.name: {{ inventory_hostname }}-{{ elasticsearch_instance_name }}

#################################### Paths ####################################

# Path to directory containing configuration (this file and logging.yml):
path.conf: {{ elasticsearch_conf_dir }}

path.data: {{ elasticsearch_data_dirs | join(',') }}

path.logs: {{ elasticsearch_log_dir }}

#################################### Network ##################################

network.host: {{ elasticsearch_address }}
http.port: {{ elasticsearch_http_port }}

#################################### Discovery ################################
discovery.zen.ping.unicast.hosts:  [{% for item in groups[elasticsearch_hosts_group] %} '{{ hostvars[item]['ansible_' + elasticsearch_interface]['ipv4']['address'] }}'{% if not loop.last %}, {% endif %} {% endfor %}]
discovery.zen.minimum_master_nodes: 1
