# {{ ansible_managed }}
#################################### Paths ####################################

# Path to directory containing configuration (this file and logging.yml):
path.conf: {{ elasticsearch_conf_dir }}

path.data: {{ elasticsearch_data_dirs | join(',') }}

path.work: {{ elasticsearch_work_dir }}

path.logs: {{ elasticsearch_log_dir }}i

#################################### Network ##################################

network.host: {{ elasticsearch_network_host }}
http.port: {{ elasticsearch_http_port }}

#################################### Discovery ################################
discovery.zen.ping.unicast.hosts {{ groups [ elasticsearch_hosts_group ] }} 
